@model Instructor

@{
    Layout = "_DashboardLayout";
    ViewBag.title = "Instructor dashboard";
}


@section dashboardTitle {
    @Model.Name Dashboard
}

@{
    if(User.IsInRole("supervisor"))
    {
        @section role {
            Supervisor
        }
    }
    else
    {
        @section role {
            Instructor
        }
    }
}

@section links {
   <partial name="../partialViews/instructorLinks" />
}

<img src="/images/waiting1.png" style="width:15rem" class="m-auto d-block"/>
<p class="lead text-center my-3">Please, select an action from the side bar...</p>