#message {
    animation-name: alertMessage;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform-origin: left;
    position: fixed;
    top:10%;
    width: 70%;
    margin: auto;
    z-index: 2000;
}

@keyframes alertMessage {
    0% {
        transform: scaleX(0);
        display: none;
    }

    20% {
        transform: scaleX(1);
        display: block;
    }

    80% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
        display: none;
    }
}