@model Student

@{
    Layout = "~/Views/Shared/EmployeeDashBoard.cshtml";
    ViewData["Title"] = "Manage Student";

    var tracks = ViewBag.Tracks as List<Track>;
    var intakes = ViewBag.Intakes as List<Intake>;
    SelectList trackList = new SelectList(tracks, "Id", "Name");
    SelectList intakeList = new SelectList(intakes, "Id", "Name");
}

<h3 class="mx-auto">Manage Student</h3>

<div class="row text-center">
    <div class="text-center">
        <form class="col-md-4 mx-auto" asp-action="Manage" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly/>
            </div>

            <div class="form-group">
            <label class="control-label">Track</label>
            <select name="trackId" class="form-control" asp-items="@trackList">
                <option value="">Select Track</option>
            </select>
            </div>

            <div class="form-group">
                <label class="control-label">Intake</label>
            <select name="intakeId" class="form-control" asp-items="@intakeList">
				<option value="">Select Intake</option>
            </select>
            </div>

            
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

