@model Student

@{
    Layout = "_DashboardLayout";
    ViewBag.title = "Student dashboard";
}


@section dashboardTitle {
    @Model.Name Dashboard
}

@{
    @section role {
        Student
    }
}

@section links {
    <partial name="../partialViews/StudentLinks" view-data="ViewData"/>
}

<img src="/images/waiting1.png" style="width:15rem" class="m-auto d-block" />
<p class="lead text-center my-3">Please, select an action from the side bar...</p>